@media screen and (max-width: 768px) {
    .navbar {
        &-collapse {
            height: 100%;
        }

        &-brand {
            img {
                width: 75px;
            }
        }

        &-nav {
            margin-bottom: 2rem !important;

            &.me-auto {
                margin-bottom: 2rem !important;
            }
        }
    }
}
