.footer {
    margin-top: 2.5rem;
    background-color: #1c1c1c;
    padding: 2.5rem 0;
    color: $text-white;

    &__left {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        img {
            width: 100px;
        }

        p {
            color: $text-white-secondary;
        }
    }

    &__link {
        h6 {
            color: $text-white;
            margin-bottom: 1rem;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                line-height: 2;

                a {
                    text-decoration: none;
                    color: $text-white-secondary;
                    transition: all 0.3 ease;

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
}
